@model IEnumerable<SCBiblioteca.Models.Especialidad>

@{
    String sesion = (String)(System.Web.HttpContext.Current.Session["UserSesion"]);
}

@if (@System.Web.HttpContext.Current.Session["UserSesion"] != null && sesion.Equals("Administrador"))
{
    {
        ViewBag.Title = "Index";
    }
    <script>
        $(document).ready(function () {
            $.noConflict();
            var table = $('#tablaespecialidades').dataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                }
            });
        });
    </script>
    <div class="container my-5" style="padding:16px;">
        <h2>Especialidades</h2>

        <p>
            @Html.ActionLink("Agregar Nueva", "Create")
        </p>
        <table class="table table-bordered table-responsive-lg" id="tablaespecialidades" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Especialidad1)
                    </th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Especialidad1)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdEspecialidad }, new { @class = "btn btn-success my-1" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.IdEspecialidad }, new { @class = "btn btn-info my-1" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdEspecialidad }, new { @class = "btn btn-danger my-1" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    {
        ViewBag.Title = "NotFound";
    }
    @RenderPage("~/Views/Home/NotFound.cshtml");
}
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
