@model IEnumerable<SCBiblioteca.Models.Cliente>

@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        $.noConflict();
        var table = $('#tablacliente').dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }
        });
    });
</script>
<div class="container my-5" style="padding:16px;">
    <h2>Clientes</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-bordered table-responsive-lg" id="tablaclientes" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreCompleto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CorreoElectronico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorreoElectronico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdCliente }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdCliente }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdCliente })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
