@model SCBiblioteca.Models.Devolucion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Devolucion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prestamo.IdPrestamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prestamo.IdPrestamo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDevolucion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
