@model IEnumerable<SCBiblioteca.Models.Devolucion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prestamo.IdPrestamo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDevolucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prestamo.IdPrestamo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDevolucion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDevolucion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDevolucion })
        </td>
    </tr>
}

</table>
