@model SCBiblioteca.Models.Comprobante

@{
    String sesion = (String)(System.Web.HttpContext.Current.Session["UserSesion"]);
}

@if (@System.Web.HttpContext.Current.Session["UserSesion"] != null && (sesion.Equals("Administrador") || sesion.Equals("Atencion") || sesion.Equals("Bibliotecario")))
{
    {
        ViewBag.Title = "Details";
    }
    <div class="container my-5" style="padding:16px;">
        <h2>Details</h2>

        <div>
            <h4>Comprobante</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Comprobante1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comprobante1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Activo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Activo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaCreacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaCreacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaVencimiento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaVencimiento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Usuario.NombreCompleto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.NombreCompleto)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.IdComprobante }) |
            @Html.ActionLink("Regresar a la lista", "Index")
        </p>
    </div>
}
else
{
    {
        ViewBag.Title = "NotFound";
    }
    @RenderPage("~/Views/Home/NotFound.cshtml");
}
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
