@model SCBiblioteca.Models.Editorial

@{
    ViewBag.Title = "Details";
}
<div class="container my-5" style="padding:16px;">
    <h2>Details</h2>

    <div>
        <h4>Editorial</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Editorial1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Editorial1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdEditorial }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>