@model IEnumerable<SCBiblioteca.Models.Libro>
@{
    ViewBag.Title = "ConsultarLibros";
    ViewBag.ConsultarLibros = "active";
}

<script>
    $(document).ready(function () {
        $.noConflict();
        var table = $('#tablelibros').dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }
        });
    });
</script>
<style>
    .disabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }
</style>
<div class="container my-5" style="padding:16px;">
    <h2>Consultar Libros</h2>
    <table class="display table table-bordered table-responsive-lg" id="tablelibros" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autor.Autor1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria.Categoria1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Especialidad.Especialidad1)
                </th>
                @if (@System.Web.HttpContext.Current.Session["UserSesion"] != null)
                {
                    <th>Acción</th>
                }
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor.Autor1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Categoria1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Especialidad.Especialidad1)
                    </td>
                    @if (@System.Web.HttpContext.Current.Session["UserSesion"] != null)
                    {
                        var stock = (@Html.DisplayFor(modelItem => item.Stock));
                        <td>
                            @if (stock.ToString() != "0")
                            {
                                @Html.ActionLink("Solicitud", "Solicitud", "Solicitudes", new { id = item.IdLibro }, new { @class = "my-1 btn btn-success " })
                            }
                            else
                            {
                                <div class="alert alert-info py-0" role="alert">
                                    <p class="text-center py-0 my-0">No Disponible</p>
                                </div>
                            }

                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>

