@model IEnumerable<SCBiblioteca.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol.Rol1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoElectronico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.Rol1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdUsuario })
        </td>
    </tr>
}

</table>
