@model SCBiblioteca.Models.Solicitud

@if (@System.Web.HttpContext.Current.Session["UserSesion"] != null)
{
    ViewBag.Title = "Delete";
    String sesion = (String)(System.Web.HttpContext.Current.Session["UserSesion"]);

    <div class="container my-5" style="padding:16px;">
        <h2>Eliminar</h2>
        <div class="alert alert-danger" role="alert">
            <h3><strong>Está seguro que desea eliminar la Solicitud?</strong></h3>
        </div>
        <div>
            <h4>Solicitud</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FechaSolicitud)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaSolicitud)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CantidadLibros)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CantidadLibros)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Libro.Titulo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Libro.Titulo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Usuario.NombreCompleto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.NombreCompleto)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @if (sesion.Equals("Bibliotecario") || sesion.Equals("Administrador"))
                    {
                        @Html.ActionLink("Regresar a la lista", "Index")
                    }
                    else
                    {
                        @Html.ActionLink("Regresar a mis solicitudes", "MisSolicitudes")
                    }

                </div>
            }
        </div>
    </div>
}
else
{
    {
        ViewBag.Title = "NotFound";
    }
    @RenderPage("~/Views/Home/NotFound.cshtml");
}
