@model IEnumerable<SCBiblioteca.Models.Solicitud>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadLibros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.NombreCompleto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSolicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadLibros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.NombreCompleto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSolicitud }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSolicitud }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSolicitud })
        </td>
    </tr>
}

</table>
