
@{

    String sesion = (String)(System.Web.HttpContext.Current.Session["UserSesion"]);
}
@if (@System.Web.HttpContext.Current.Session["UserSesion"] != null && sesion.Equals("Usuario"))
{
    ViewBag.Title = "Solicitud";
    int UserId = Convert.ToInt32(System.Web.HttpContext.Current.Session["UserId"]);
    int ClienteId = Convert.ToInt32(System.Web.HttpContext.Current.Session["ClienteId"]);
    int idLibro = Convert.ToInt32(System.Web.HttpContext.Current.Session["IdLibro"]);
    <div class="container my-5" style="padding:16px">
        <h2>Solicitud</h2>

        @using (Html.BeginForm("Solicitud", "Solicitudes", FormMethod.Post, htmlAttributes: new { id = "formSolicitud" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="alert alert-info col-md-offset-2 col-md-10 py-0" role="alert">
                    <h3 class="py-0 my-0">@ViewBag.TituloLibro</h3>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Cantidad de Libros<span class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <input type="number" min="1" max="3" class="form-control" name="CantidadLibros" value="1" />
                        <span style="color:red"><strong>NOTA: </strong>La Cantidad <strong>Maxima</strong> de Libros que Puede Prestar es <strong>3</strong></span>
                    </div>
                </div>

                <input type="hidden" value=@ClienteId name="IdCliente" />

                <input type="hidden" value=@idLibro name="IdLibro" />
                <input type="hidden" value=@UserId name="IdUsuario" />
                <div class="col-md-offset-2 col-md-10 py-2">
                    <p style="color:red">@ViewBag.Solicitud</p>
                    <a href='@Url.Action("ConsultarLibros", "Solicitudes")' style="display:@ViewBag.display">Regresar a Consultar Libros</a>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Solicitar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div>
                @Html.ActionLink("Regresar a la lista", "ConsultarLibros")
            </div>
        }
    </div>
}
else
{
    {
        ViewBag.Title = "NotFound";
    }
    @RenderPage("~/Views/Home/NotFound.cshtml");
}
<script src="~/Scripts/jquery-3.5.1.min.js"></script>

